@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.mybg {
    background-color: #344361;
}

.font {
    font-family: Pacifico, cursive;
    color:lightblue;
}
